<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk" lang="uk">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  {% if page.type == "nonpost" %}
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="Життя та інші неймовірні пригоди. Мій блог про свята, будні, думки, переживання та враження." />
    <meta name="description" content="Життя та інші неймовірні пригоди. Мій блог про свята, будні, думки, переживання та враження.">
  {% else %}
    <meta property="og:title" content="{{ page.title | text}}" />
    <meta property="og:description" content="{{ page.excerpt }}" />
    <meta name="description" content="{{ page.excerpt }}">
  {% endif %}
  <meta property="og:type" content="article" />
  <meta name="keywords" content="борислав, ларін, українське, життя, книжки, кіно, блог, враження, програми, огляд, думки, подорожі">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript">
    {% include application.js %}
  </script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="{{ site.gravatar_url }}?s=200" height="135" width="135" class="avatar" alt="Це я"/>
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://plus.google.com/106406627565076003063?rel=author" target="_blank"><i class="fa fa-google-plus"></i></a>
      <a href="/atom.xml"><i class="fa fa-rss"></i></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about.html">Про цей блог</a></li>
        <li><a href="/">Дописи</a></li>
      </ul>
    </section>
  </section>

  {{ content }}

  <!-- Google Analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2122286-4']);
    _gaq.push(['_setDomainName', 'brabadu.com']);
    _gaq.push(['_trackPageview']);

    setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])", 15000);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter22085671 = new Ya.Metrika({id:22085671,
                      webvisor:true,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/22085671" class="outofsight" alt="stats" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>

</html>
