---
layout: layout
---

<section itemscope itemtype="http://schema.org/Article" class="content">
  <h1>
    <a itemprop="name" href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  {% if page.feature_image %}
    <img itemprop="image" class="hidden" src="{{ page.feature_image }}"/>
  {% else %}
    <img itemprop="image" class="hidden" src="{{ site.feature_image }}"/>
  {% endif %}

  <article itemprop="articleBody">
    {{ content }}
  </article>

  <section class="byline">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ site.name }}</span>,
    </span>
    <span itemprop="datePublished" content="{{ page.date | date: "%d/%m/%Y" }}" >{{ page.date | date: "%d/%m/%Y" }}</span>
  </section>
  <!-- TODO: bio here -->
  <section class="meta">
    <h3>Коментарі та посилання</h3>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Твітніть</a>
      <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Фоловте @{{ site.twitter }}</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

  </section>

  <!-- START: Livefyre Embed -->
  <div id="livefyre-comments"></div>
  <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
  <script type="text/javascript">
  (function () {
      var articleId = fyre.conv.load.makeArticleId(null);
      fyre.conv.load({}, [{
          el: 'livefyre-comments',
          network: "livefyre.com",
          siteId: "333700",
          articleId: articleId,
          signed: false,
          collectionMeta: {
              articleId: articleId,
              url: fyre.conv.load.makeCollectionUrl(),
          }
      }], function() {});
  }());
  </script>
  <!-- END: Livefyre Embed -->
</section>
